---

---

<article>
    <nav>
        <a href="traad">
            <img class="traad" src="/public/img/traad.svg" alt="">
        </a>
        <div class="itmvmenu">
            <a href="#itmv"> ITMV
                <img class="itmvhjerte" src="/public/img/hjerte.svg" alt="hjerte">
            </a>
        </div>
    
    <div class="historiemenu">
        <a href="#historie"> HISTORIE
            <img class="historiehjerte" src="/public/img/hjerte.svg" alt="">
        </a>
    </div>
    
    <div class="talmenu">
        <a href="#tal"> TAL
            <img class="talhjerte" src="/public/img/hjerte.svg" alt="">
        </a>
    </div>
    
    <div class="donermenu">
        <a href="#doner"> DONER
            <img class="donerhjerte" src="/public/img/hjerte.svg" alt="">
        </a>
    </div>
        
    <div class="instamenu">
        <a href="#instagram"> INSTAGRAM
            <img class="instajerte" src="/public/img/hjerte.svg" alt="">
        </a>
    </div>
    
    </nav>

</article>

<style>

.traad{
    width: 50px;
    margin-left: 45px;				
}
a{
    display: flex;
    flex-direction: column;
}

.itmvmenu{


}


nav{
    position: sticky;
}

</style>



